<div class="container-margin">
  <h1>Cargue de códigos CVC</h1>
  <p>Por favor seleccione el archivo .CSV donde tenga los códigos CVC preparados para cargar.</p>
  <div class="container-flex">
    <label class="width-100" for="cargar-otp">
      <mat-form-field appearance="outline">
        <mat-icon matSuffix>attach_file</mat-icon>
        <input matInput style="display: none;">
        <input id="cargar-otp" type="file" (change)="onFileSelected($event)" accept=".csv">
        @if (errorMsg) {
        <mat-hint class="text-warn">{{errorMsg}}</mat-hint>
        }
      </mat-form-field>
    </label>
    <button [disabled]="!contentFile" mat-raised-button color="warn">Cargar archivo</button>
  </div>
</div>