/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-margin {
  padding: 1.5rem;
}

.container-flex {
  display: flex;
}

h1 {
  margin: 0;
}

.snack-bar-INFO {
  --mdc-snackbar-container-color: darkturquoise;
}

.snack-bar-SUCCESS {
  --mdc-snackbar-container-color: green;
}

.snack-bar-WARN {
  --mdc-snackbar-container-color: red;
}

.text-warn {
  color: red;
  font-weight: bolder;
}

.width-100 {
  width: 100%;
}